@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");
* {
  margin: 0;
  font-family: Shojumaru, cursive;
}

.lafameuseimg {
  padding: 2em;
}

.superlon-des {
  width: 100%;
  background-color: white;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f7eb;
}

h1 {
  font-size: 5vw;
  width: 30vw;
  color: #250804;
  background-color: #a0c5e3;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 3.5vw;
  color: #250804;
  text-align: center;
  background-color: #a0c5e3;
}
h3 {
  font-size: 3vw;
  color: #250804;
  background-color: #a0c5e3;
}
a img {
  width: 80px;
  height: 80px;
}
p {
  font-size: 24px;
  color: #370c06;
}
/* ---------------- */
/* homepage */

.petitedescription {
  background-color: #b0cfe8;
  width: 55vw;
}
.horaire {
  font-size: 2vw;
  text-align: center;
}
.jour {
  font-family: Shojumaru;
  background-color: #b0cfe8;
  width: 35vw;
}

/* ------------ */
/* header -/- footer */
.header {
  display: flex;
  background-color: #b0cfe8;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 140px;
}
.footer p {
  color: #f6f7eb;
}
.petitedescription {
  background-color: #b0cfe8;
  width: 55vw;
}
.footer {
  width: 100%;
  height: 7em;
  background-color: #250804;
}

/* ------------ */
/* voir reserv */

p,
.red {
  font-size: 24px;
  color: #370c06;
}
.center {
  text-align: center;
}
.resacont {
  background-color: #b0cfe8;
  height: 130px;
  display: flex;
  flex-direction: column;
}
/* long description */
/* ------------- */

/*Loïc.M BOUTTONS HEADER*/
.btn {
  background-color: #b0cfe8;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 120px;
}
#menu img,
#rese img,
#tele img {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: #a0c5e3;
}

#menu,
#rese,
#tele {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/*____________________________*/
/* formulaire */
form {
  margin: 0 auto;
  padding: 1em;
  align-items: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  font-size: 3vw;
  background-color: #b0cfe8;
  width: 100vw;
  height: 100px;
}
.formu {
  display: flex;
  flex-wrap: wrap;
}
input {
  width: 20vw;
}
#ID {
  margin-right: 30px;
}

.btncont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#button {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 14px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2vw;
  font-weight: bold;
  padding: 9px 34px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
#button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
#button:active {
  position: relative;
  top: 1px;
}

h1 {
  text-align: center;
  width: 100%;
}
/* ------------------- */

/*carte burger*/
.burgerscontain {
  margin: 10px;
}
a {
  text-decoration: none;
}
.pgBurger {
  display: flex;
}
.burgerscontain {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2vw;
}
.burgercont {
  background-color: #b0cfe8;
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  margin-bottom: 5vw;
  height: 40vw;
  align-items: center;
}
h4 {
  font-size: 3vw;
  margin-top: -4px;
  background-color: #a0c5e3;
}
p {
  margin-left: 10px;
  font-size: 2vw;
}
.imgburger {
  width: 20vw;
  height: 20vw;
  margin: 10px;
}
@media screen and (max-width: 500px) {
  .preshorairecont {
    flex-direction: column-reverse;
    align-items: center;
  }
  .petitedescription {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .jour {
    width: 75%;
  }
}
.imgmain {
  height: 30vw;
}

.imgtxtcont {
  display: flex;
  flex-direction: column;
}

h4 {
  margin-left: 10px;
}
.superlon-des {
  margin: 10px;
  margin-right: 10px;
}
.long-description {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #a0c5e3;
}

.description-cont {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #a0c5e3;
  width: 80%;
}

.resa {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 180px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.reso {
  background-color: #b0cfe8;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  height: 70px;
  align-items: center;
}
.red {
  background-color: #a0c5e3;
  font-size: 32px;
}
.center {
  text-align: center;
}
.resacont {
  background-color: #b0cfe8;
}

#imgprincipal {
  width: 100vw;
}

.imgprincipal {
  width: 100%;
  height: 45svw;
  margin-bottom: 1vw;
}

.preshorairecont {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vw;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.cb {
  display: flex;
  /* justify-self: center; */
  flex-direction: column;
}
.br {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1f; */
}

@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
  }
  .btn {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
  .logocont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
.logocont {
  display: flex;
  justify-content: space-around;
}
#logoimg {
  width: 10vw;
  height: 10vw;
}
#menu {
  width: 5vw;
  height: 5vw;
}
#rese {
  width: 5vw;
  height: 5vw;
}
#tele {
  width: 5vw;
  height: 5vw;
}
.abs {
  display: flex;
  justify-content: center;
  position: absolute;

  right: 0;
  top: 0;
  height: 3vw;
  width: 21vw;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0.7;
  transition: 0.8s;
}
.novisi {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
